@inherits System.Web.Mvc.WebViewPage
<!doctype html>
<html class="no-js" ng-app="expenseApp">
<head>
    <meta charset="utf-8">
    <title ng-bind="'CatExpense - ' + $root.title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- css styling -->
    <link rel="stylesheet" href="../../angular/app/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../angular/app/styles/main.css">
</head>
<body>

    <!-- Add your site or application content here -->
    <div class="container">
        <div ng-controller="LoginController">
            <div id="nav-bar" ng-include="'Views/Home/views/navbar.html'"></div>

            <div ng-view=""></div>

            <div class="footer">
                <p></p>
            </div>
        </div>
    </div>

    <!-- JS libraries -->
    <script src="../../angular/app/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../angular/app/bower_components/angular/angular.min.js"></script>
    <script src="../../angular/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../angular/app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../angular/app/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../../angular/app/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../../angular/app/bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../angular/app/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../angular/app/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="../../angular/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- CompactScripts is an uglified version of all the scripts -->


    @*<script src="../../angular/CombinedScripts/CompactScripts.js"></script>*@


    <!-- uncomment for development -->
    <!-- app.js contains the routing information used by angular -->
    <script src="../../angular/app/scripts/app.js"></script>

    <!-- angular constants -->
    <script src="../../angular/app/scripts/constants/Constant.js"></script>

    <!-- angular controllers -->
    <script src="../../angular/app/scripts/controllers/modals/commentModal.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/confirmModal.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/formDetailsView.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/mileageForm.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/otherForm.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/perDiemForm.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/policyView.js"></script>
    <script src="../../angular/app/scripts/controllers/modals/receiptModal.js"></script>

    <script src="../../angular/app/scripts/controllers/admin.js"></script>
    <script src="../../angular/app/scripts/controllers/datepicker.js"></script>
    <script src="../../angular/app/scripts/controllers/employeeTable.js"></script>
    <script src="../../angular/app/scripts/controllers/financeTable.js"></script>
    <script src="../../angular/app/scripts/controllers/home.js"></script>
    <script src="../../angular/app/scripts/controllers/login.js"></script>
    <script src="../../angular/app/scripts/controllers/managerTable.js"></script>
    <script src="../../angular/app/scripts/controllers/navbar.js"></script>
    <script src="../../angular/app/scripts/controllers/submission.js"></script>
    <script src="../../angular/app/scripts/controllers/submissionTable.js"></script>

    <!-- angular directives -->
    <script src="../../angular/app/scripts/directives/datepicker.js"></script>
    <script src="../../angular/app/scripts/directives/submission-table.js"></script>
    <script src="../../angular/app/scripts/directives/submissionPage.js"></script>

    <!-- angular services -->
    <script src="../../angular/app/scripts/services/Application.js"></script>
    <script src="../../angular/app/scripts/services/Authentication.js"></script>
    <script src="../../angular/app/scripts/services/ExpenseCategoryService.js"></script>
    <script src="../../angular/app/scripts/services/CommentService.js"></script>
    <script src="../../angular/app/scripts/services/LineItemService.js"></script>
    <script src="../../angular/app/scripts/services/LogErrors.js"></script>
    <script src="../../angular/app/scripts/services/LoginService.js"></script>
    <script src="../../angular/app/scripts/services/MapQuestService.js"></script>
    <script src="../../angular/app/scripts/services/MessageService.js"></script>
    <script src="../../angular/app/scripts/services/NavService.js"></script>
    <script src="../../angular/app/scripts/services/ReceiptService.js"></script>
    <script src="../../angular/app/scripts/services/RepliconProjectService.js"></script>
    <script src="../../angular/app/scripts/services/RouteFilter.js"></script>
    <script src="../../angular/app/scripts/services/SubmissionService.js"></script>
    <script src="../../angular/app/scripts/services/ValidationService.js"></script>
</body>
</html>
