<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="Chrome"/>
    <add key="username" value="catexpuser"/>
    <add key="password" value="!Catalyst!"/>
    <add key="employeeColumns" value=",,Client,Description,Total,Week Ending,Status,Receipts"/>
    <add key="otherColumns" value=",Submitted,Submitted By,Week Ending,Client,Amount"/>
    <add key="defaultTimeout" value="60"/>
    <add key="testUrl" value="http://localhost:54879"/>
    <add key="homeTitle" value="CatExpense - Home"/>
    <add key="submissionTitle" value="Catexpense - Submission Page"/>
    <add key="testSubDescription" value="Auto-created submission - delete me"/>
    <add key="screenshotDirectory" value="C:\CatExpenseLogs\Screenshots\"/>
    <add key="logDirectory" value="C:\CatExpenseLogs\LogFiles\"/>
  </appSettings>
</configuration>