<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="Chrome"/>
    <add key="username" value="catexpuser"/>
    <add key="password" value="!Catalyst!"/>
    <add key="defaultTimeout" value="60"/>
    <add key="testUrl" value="localhost:54879"/>
    <add key="screenshotDirectory" value="C:\CatExpenseLogs\Screenshots\"/>
    <add key="logDirectory" value="C:\CatExpenseLogs\LogFiles\"/>
  </appSettings>
</configuration>