<div ng-controller="EmployeeTableController">
    <div class="panel panel-default">
        <div class="panel-heading alert-info form-group col-md-12 col-sm-12">
            <div class="col-md-2 pull-left">
                <button class="btn btn-small" ng-if="!expanded" ng-click="expandContract(true)" title="expand table"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-small" ng-if="expanded" ng-click="expandContract(false)" title="collapse table"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
            <div>
                <h4 class="col-sm-6 col-md-6">My Submissions</h4>
            </div>
            <div class="col-sm-4 col-md-4 pull-right">
                <select id="empSelectStatus" class="form-control col-sm-4 col-md-4 pull-right" ng-change="loadEmployeeTableStatusX(selectedStatus.value)"
                        ng-model="selectedStatus" ng-options="status.name for status in statuses"></select>
            </div>
        </div>
        <table class="panel-body table table-hover table-striped table-condensed" ng-if="expanded">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <a href="" id="empClient" ng-click="employeeOrder('RepliconProject.RepliconProjectName')">
                            Client
                        </a>
                    </th>
                    <th><a href="" id="empDesc" ng-click="employeeOrder('Description')">Description</a></th>
                    <th><a href="" id="empTotal" ng-click="employeeOrder('TotalAmount')">Total</a></th>
                    <th>
                        <a href="" id="empWeekEnding" ng-click="employeeOrder('WeekEndingDate')">Week Ending</a>
                    </th>
                    <th>
                        <a href="" id="empStatus" ng-click="employeeOrder('Status.StatusName')">Status</a>
                    </th>
                    <th><a href="" id="Receipts" ng-click="employeeOrder('ReceiptPresent')">Receipts</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="submission in employeeSubmissions">
                    <td>
                        <div ng-if="submission.Status.StatusName == 'Submitted' || submission.Status.StatusName == 'Manager Approved' || submission.Status.StatusName == 'Finance Approved'">
                            <span class="glyphicon glyphicon-search pointer" ng-click="loadEmployeeSubmission(submission, $index)"
                                  data-toggle="tooltip" data-placement="left" title="View Report"></span>
                        </div>
                        <div ng-if="submission.Status.StatusName == 'In Progress' || submission.Status.StatusName == 'Manager Rejected' || submission.Status.StatusName == 'Finance Rejected'">
                            <span class="glyphicon glyphicon-edit pointer" ng-click="loadEmployeeSubmission(submission, $index)"
                                  data-toggle="tooltip" data-placement="left" title="Edit Report"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="glyphicon glyphicon-trash pointer" ng-click="deleteSubmission(submission, $index)"
                                  data-toggle="tooltip" data-placement="left" title="Delete Submission"></span>
                        </div>
                    </td>
                    <td>{{submission.RepliconProject.ProjectName}}</td>
                    <td>{{submission.Description}}</td>
                    <td>{{("$" + (submission.TotalAmount).toFixed( 2 ))}}</td>
                    <td>{{submission.WeekEndingDate | date:'yyyy/MM/dd'}}</td>
                    <td>{{submission.Status.StatusName}}</td>
                    <td class="row">
                        <span ng-if="submission.allSubmissionReceipts.length == 0" class="col-md-2 glyphicon glyphicon-remove" style="color: red"></span>
                        <span title="View all receipts" class="pointer col-md-2 pull-left btn-link glyphicon glyphicon-file" ng-click="showAllAvailableReceipts(submission.allSubmissionReceipts, submission, $index)" ng-show="submission.allSubmissionReceipts.length > 0"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="employeeSubmissions == undefined || employeeSubmissions.length == 0">
            <div id="empNoSubmissions" class="alert alert-warning fade in">
                You have no submissions!
            </div>
        </div>
    </div>
</div>
