<div ng-controller="FinanceTableController" ng-show="isFinanceApprover">
    <div class="panel panel-default">
        <div class="panel-heading alert-info form-group col-md-12 col-sm-12">
            <div class="col-md-2 pull-left">
                <button class="btn btn-small" ng-if="!expanded" ng-click="expandContract(true)" title="expand table"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-small" ng-if="expanded" ng-click="expandContract(false)" title="collapse table"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
            <div>
                <h4 class="col-sm-6 col-md-6">
                    Finance Table
                    <small class="lightWeight bg-warning">Awaiting Approval: {{financeTotal}}</small></h4>
            </div>
            <div class="col-sm-4 col-md-4 pull-right">
                <select class="form-control col-sm-5 col-md-5 pull-right" ng-change="filterTableBySubmissionStatus(selectedFinanceStatus.value)"
                    ng-model="selectedFinanceStatus" ng-init="selectedFinanceStatus = financeStatuses[1].name" ng-options="status.name for status in financeStatuses">
                </select>
            </div>
        </div>
        <table class="panel-body table table-hover table-striped table-condensed" ng-if="expanded">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th><a href="" id="finSubmittedBy" ng-click="financeOrder('ActiveDirectoryUser')">Submitted
                        By</a></th>
                    <th><a href="" id="finWeekEnding" ng-click="financeOrder('WeekEndingDate')">Week Ending</a>
                    </th>
                    <th><a href="" id="finClient" ng-click="financeOrder('RepliconProject.RepliconProjectName')">
                        Client</a>
                    </th>
                    <th><a href="" id="finDescription" ng-click="financeOrder('Description')">Description</a></th>
                    <th><a href="" id="finAmount" ng-click="financeOrder('TotalAmount')">Amount</a></th>
                    <th><a href="" id="Receipts" ng-click="employeeOrder('ReceiptPresent')">Receipts</a></th>
                </tr>
            </thead>
            <tbody ng-repeat="submission in financeSubmissions">
                <tr>
                    <td>
                        <div ng-if="Status.StatusName !== 'Finance Rejected' || Status.StatusName !== 'Finance Approved'">
                            <span class="pointer glyphicon glyphicon-edit" ng-click="loadFinaceSubmission(submission, $index)"
                                  data-toggle="tooltip" data-placement="left" title="Edit Report"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="pointer glyphicon glyphicon-trash" ng-click="deleteSubmission(submission, $index)"
                                data-toggle="tooltip" data-placement="left" title="Delete Submission"></span>
                        </div>
                    </td>
                    <td>{{submission.ActiveDirectoryUser}}</td>
                    <td>{{submission.WeekEndingDate | date:'yyyy/MM/dd'}}</td>
                    <td>{{submission.RepliconProject.RepliconProjectName}}</td>
                    <td>{{submission.Description}}</td>
                    <td>{{("$" + (submission.TotalAmount).toFixed( 2 ))}}</td>
                    <td class="row">
                        <span ng-if="submission.allSubmissionReceipts.length == 0" class="col-md-2 glyphicon glyphicon-remove" style="color: red"></span>
                        <span title="View all receipts" class="pointer col-md-2 pull-left btn-link glyphicon glyphicon-file" ng-click="showAllAvailableReceipts(submission.allSubmissionReceipts, submission, $index)" ng-show="submission.allSubmissionReceipts.length > 0"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="financeSubmissions.length == 0">
            <div class="alert alert-warning fade in">
                You have no reports awaiting your approval!
            </div>
        </div>
    </div>
</div>
