<div class="header" ng-controller="NavController">
    <ul class="nav nav-pills pull-right" ng-if="isLoggedIn">
        <li>
            <div class="col-sm-12 pull-right">
                <button id="syncProjectsButton" class="btn btn-primary pull-right" ng-click="syncProjects()" ng-disabled="flag" ng-hide="flag">
                    <i class="glyphicon glyphicon-retweet"></i>
                    <span>Sync Projects</span>
                </button>
                <span ng-hide="!flag" id="spinner" class="pull-right" us-spinner="{radius:10, width:5, length: 12}"></span>
            </div>
        </li>
        <li>
            <button id="logoutButton" class="btn btn-danger pull-right" ng-click="logout()" title="Logout">
                <i class="glyphicon glyphicon-log-out"></i>
                <span>Log out</span>
            </button>
        </li>
    </ul>
    <h3 class="text-muted"><a ng-href="#/home" id="homeLink">CatExpense</a></h3>
</div>