<div class="header" ng-controller="NavController">
    <ul class="nav nav-pills pull-right" ng-if="isLoggedIn">
        <li ng-class="{ active: isActive('#/admin') }">
            <a ng-href="#/admin">Admin</a>
        </li>
        <li>
            <div class="col-sm-12 pull-right">
                <button id="syncProjectsButton" class="btn btn-primary pull-right" ng-click="syncProjects()" ng-disabled="flag">
                    <i ng-hide="flag" class="glyphicon glyphicon-retweet"></i>
                    <i ng-attr-id="{{ spinner }}"></i>
                    <span>Sync Projects</span>
                </button>
            </div>
        </li>
        <li>
            <button id="logoutButton" class="btn btn-danger pull-right" ng-click="logout()" title="Logout">
                <i class="glyphicon glyphicon-log-out"></i>
                <span>Log out</span>
            </button>
        </li>
    </ul>
    <h3 class="text-muted"><a ng-href="#/home" id="homeLink">CatExpense</a></h3>
</div>