<div class="row">
    <div>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <datepicker-icon id="datePicker"></datepicker-icon>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="submissionDescription">Description</label>
                    <div class="input-group">
                        <div class="input-group-addon">Description:</div>
                        <input type="text" class="form-control" id="submissionDescription" ng-model="currentDescription" ng-disabled="!createNewItemLoad">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="clientDropDownList">Client</label>
                    <div class="input-group">
                        <div class="input-group-addon">Client:</div>
                        <select class="form-control" id="clientDropDownList" ng-options="client.RepliconProjectName for client in clients" ng-model="selectedClient" ng-change="getManager()" ng-disabled="editExistingSubmission"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="managerName">Manager</label>
                    <div class="input-group">
                        <div class="input-group-addon">Manager:</div>
                        <input type="text" disabled class="form-control" id="managerName" ng-model="clientManager">
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="clientAndDate() && !se()">
            <div class="col-sm-12">
                <button class="btn btn-default" ng-disabled="disableCreate" id="createSubmissionButton" ng-click="createNewSubmission()">Create Submission</button>
            </div>

        </div>
    </div>
    <div ng-show="clientAndDate() && se() || !submissionLoad">
        <div class="col-sm-12">
            <button class="btn btn-primary" id="addLineItemButton" ng-click="addNewLineItem()" ng-disabled="!createNewItemLoad">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add Line Item</span>
            </button>
            <button class="btn btn-danger" id="deleteSubmissionButton" ng-click="deleteSubmission()" ng-disabled="!createNewItemLoad">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete Submission</span>
            </button>
        </div>
        <div>
            <submission-table></submission-table>
        </div>
    </div>

</div>