<div class="row">
    <div ng-hide="submissionCreated">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <datepicker-icon id="datePicker"></datepicker-icon>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="submissionDescription">Description</label>
                    <div class="input-group">
                        <div class="input-group-addon">Description:</div>
                        <input type="text" class="form-control" id="submissionDescription" ng-model="currentDescription" placeholder="Description">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="clientDropDownList">Client</label>
                    <div class="input-group">
                        <div class="input-group-addon">Client:</div>
                        <select class="form-control" id="clientDropDownList" ng-options="client.RepliconProjectName for client in clients" ng-model="selectedClient" ng-change="getManager()" ng-disabled="editExistingSubmission"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="managerName">Manager</label>
                    <div class="input-group">
                        <div class="input-group-addon">Manager:</div>
                        <input type="text" disabled class="form-control" id="managerName" ng-model="clientManager">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <button id="syncProjectsButton" class="btn btn-primary pull-right" ng-click="syncProjects()" ng-disabled="flag" ng-hide="flag">
                <i class="glyphicon glyphicon-retweet"></i>
                <span>Sync Projects</span>
            </button>
            <progressbar class="progress-striped active pull-right" style="height: 34px; width: 130px;" animate="true" max="100" value="progressValue" type="primary" ng-hide="!flag">

            </progressbar>
        </div>
        <div ng-show="clientAndDate() && !se()">
            <div class="col-sm-12">
                <button class="btn btn-default" ng-disabled="disableCreate" id="createSubmissionButton" ng-click="createNewSubmission()">Create Submission</button>
            </div>

        </div>
    </div>
    <div ng-show="clientAndDate() && se() || !submissionLoad">
        <div class="col-sm-12">
            <button class="btn btn-primary" id="addLineItemButton" ng-click="addNewLineItem()" ng-disabled="!createNewItemLoad">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add Line Item</span>
            </button>
            <button ng-disabled="receipts" class="btn btn-info" ng-click="showAllReceipts()">
                <i class="glyphicon glyphicon-file"></i>
                <span>All Receipts</span>
                <span class="badge small" ng-bind="receiptsAmount"></span>
            </button>
            <button class="btn btn-danger" id="deleteSubmissionButton" ng-click="deleteSubmission()" ng-disabled="!createNewItemLoad">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete Submission</span>
            </button>
        </div>
        <div>
            <submission-table></submission-table>
        </div>
    </div>

</div>