<div ng-controller="ManagerTableController" ng-show="isManager">
    <div class="panel panel-default">
        <div class="panel-heading alert-info form-group col-md-12 col-sm-12">
            <div class="col-md-2 pull-left">
                <button class="btn btn-small" ng-if="!expanded" ng-click="expandContract(true)" title="expand table"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-small" ng-if="expanded" ng-click="expandContract(false)" title="collapse table"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
            <div>
                <h4 class="col-sm-6 col-md-6">
                    Manager
                    <small class="lightWeight bg-warning">Awaiting Approval: {{managerTotal}}</small></h4>
            </div>
            <div class="col-sm-4 col-md-4 pull-right">
                <select class="form-control col-sm-4 col-md-4 pull-right" ng-change="filterTableBySubmissionStatus(selectedStatus.value)"
                        ng-model="selectedStatus" ng-options="status.name for status in statuses"></select>
            </div>
        </div>
        <table class="panel-body table table-hover table-striped table-condensed" ng-if="expanded">
            <thead class="scrollTable">
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-2"><a href="" id="manSubmittedBy" ng-click="managerOrder('ActiveDirectoryUser')">Submitted
                        By</a></th>
                    <th  class="col-md-2"><a href="" id="manWeekEnding" ng-click="managerOrder('WeekEndingDate')">Week Ending</a>
                    </th>
                    <th class="col-md-2"><a href="" id="manClient" ng-click="managerOrder('RepliconProject.RepliconProjectName')">
                        Client</a>
                    </th>
                     <th class="col-md-2"><a href="" id="manDescription" ng-click="managerOrder('Description')">Description</a></th>
                    <th  class="col-md-2"><a href="" id="manAmount" ng-click="managerOrder('TotalAmount')">Amount</a></th>
                    <th  class="col-md-2"><a href="" id="Receipts" ng-click="employeeOrder('ReceiptPresent')">Receipts</a></th>
                </tr>
            </thead>
            <tbody class="scrollTable">
                <tr ng-repeat="submission in managerSubmissions" >
                    <td class="col-md-1">
                        <div ng-if="Status.StatusName !== 'Finance Rejected' || Status.StatusName !== 'Finance Approved'">
                            <span class="pointer glyphicon glyphicon-edit" ng-click="loadManagerSubmission(submission, $index)"
                                  data-toggle="tooltip" data-placement="left" title="Edit Report"></span>
                        </div>
                    </td>
                    <td class="col-md-1">
                        <div ng-hide="Status.StatusName == 'Finance Approved'">
                            <span class="pointer glyphicon glyphicon-trash" ng-click="deleteSubmission(submission, $index)"
                                data-toggle="tooltip" data-placement="left" title="Delete Submission"></span>
                        </div>
                    </td>
                    <td class="col-md-2">{{submission.ActiveDirectoryUser}}</td>
                    <td class="col-md-2">{{submission.WeekEndingDate | date:'yyyy/MM/dd'}}</td>
                    <td class="col-md-2">{{submission.RepliconProject.ProjectName}}</td>
                    <td class="col-md-2">{{submission.Description}}</td>
                    <td class="col-md-2">{{("$" + (submission.TotalAmount).toFixed( 2 ))}}</td>
                    <td class="row col-md-2">
                        <span ng-if="submission.allSubmissionReceipts.length == 0" class="col-md-2 glyphicon glyphicon-remove" style="color: red"></span>
                        <span title="View all receipts" class="pointer col-md-2 pull-left btn-link glyphicon glyphicon-file" ng-click="showAllAvailableReceipts(submission.allSubmissionReceipts, submission, $index)" ng-show="submission.allSubmissionReceipts.length > 0"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="managerSubmissions.length == 0">
            <div class="alert alert-warning fade in">
                You have no reports awaiting your approval!
            </div>
        </div>
    </div>
</div>
