<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div>
                <fieldset class="fieldset">
                    <div class="sizedTable col-sm-12">
                        <table class="panel-body table table-condensed table-hover">
                            <tbody ng-repeat="expenseComments in currentSubmission.Comments">
                                <tr>
                                    <td>
                                        <strong>{{expenseComments.RepliconUserName}}</strong> <small>added a comment for Status: </small>{{expenseComments.Status.StatusName}} - {{expenseComments.DateUpdated | date:'yyyy/MM/dd h:mm a'}}<br />
                                        <div class="cursorText col-md-5" ng-class="{'well': expenseComments.commentIsMine, 'well-sm': expenseComments.commentIsMine, 'whiteBackground': expenseComments.commentIsMine }" ng-click="editComment($index)">{{expenseComments.ExpenseComment}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" id="addLineItemButton" ng-click="addNewLineItem()" ng-disabled="!createNewItemLoad">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add Line Item</span>
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="panel-heading">
                <div class="row">
                    <h4 class="col-sm-12">Expenses in Submission</h4>
                </div>
            </div>
            <table class="panel-body table table-condensed table-hover">
                <thead>
                    <tr>
                        <th ng-if="createNewItemLoad"></th>
                        <th ng-if="createNewItemLoad"></th>
                        <th>
                            <a href="" id="subExpenseDate" ng-click="submissionOrder('LineItemDate')">
                                Expense
                                Date
                            </a>
                        </th>
                        <th>
                            <a href="" id="subExpenseType" ng-click="submissionOrder('ExpenseCategory.ExpenseCategoryName')">
                                Expense Type
                            </a>
                        </th>
                        <th>
                            <a href="" id="subAmount" ng-click="submissionOrder('LineItemAmount')">Amount</a>
                        </th>
                        <th>
                            <a href="" id="subBillable" ng-click="submissionOrder('Billable')">Billable?</a>
                        </th>
                        <th>
                            <a href="" id="subReceipt" ng-click="submissionOrder('ReceiptPresent')">Receipt?</a>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="expense in currentSubmission.LineItems">
                    <tr>
                        <td ng-if="createNewItemLoad">
                            <span class="pointer glyphicon glyphicon-edit" ng-click="editExpenseLine(expense, $index)"
                                  data-toggle="tooltip" data-placement="left" title="Edit Report"></span>

                        </td>
                        <td ng-if="createNewItemLoad">
                            <span class="pointer glyphicon glyphicon-trash" ng-click="confirmLineRemove(expense, $index)"
                                  data-toggle="tooltip" data-placement="left" title="Delete Report"></span>
                        </td>
                        <td>{{expense.LineItemDate | date:'yyyy/MM/dd'}}</td>
                        <td>{{expense.ExpenseCategory.ExpenseCategoryName}}</td>
                        <td>{{("$" + (expense.LineItemAmount).toFixed( 2 ))}}</td>
                        <td>
                            <span class="glyphicon" ng-class="{ 'glyphicon-remove': !{{expense.Billable}}, 'glyphicon-ok': {{expense.Billable}} }"
                                  ng-style="{'color' : {{expense.Billable}} ? 'green' : 'red' }"></span>
                        </td>
                        <td class="row">
                            <span ng-if="expense.Receipts.length == 0" class="col-md-2 glyphicon glyphicon-remove" style="color: red"></span>
                            <span title="View receipt" class="pointer col-md-2 pull-left btn-link glyphicon glyphicon-file" ng-click="viewReceipts({{expense.LineItemId}}, $index)" ng-show="expense.Receipts.length > 0"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button ng-if="submittedNotApproved" class="btn btn-warning pull-right" ng-click="unSubmit()">
                    <i class="glyphicon icon-undo-white"></i>
                    <span>Undo Submission</span>
                </button>
                <button id="saveTableButton" ng-disabled="currentSubmission.LineItems.length == 0" ng-if="submissionLoad && createNewItemLoad || createNewItemLoad"
                        class="btn btn-primary pull-right" ng-click="saveTable()">
                    <i class="glyphicon glyphicon-save"></i>
                    <span>Save Table</span>
                </button>
                <button id="submitTableButton" ng-disabled="currentSubmission.LineItems.length == 0" ng-if="submissionLoad && createNewItemLoad || createNewItemLoad"
                        class="btn btn-success pull-right" ng-click="submitTable()">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span>Submit Table</span>
                </button>
            </div>
            <div ng-if="isApprover">
                <button class="btn btn-danger pull-right" ng-click="reject()">
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                    <span>Reject</span>
                </button>
                <button class="btn btn-success pull-right" ng-click="approve()">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    <span>Approve</span>
                </button>
            </div>
        </div>
    </div>
</div>
