<div>
    <div class="modal-header">
        <h3>Comment:</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>Add a comment:</label>
                <textarea rows="4" id="commentTextArea" placeholder="Add a comment." ng-model="comment" class="form-control col-md-6"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <button id="cancelButton" class="btn btn-warning col-md-2 pull-right" ng-click="cancel()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                <button id="yesButton" ng-disabled="!comment" class="btn btn-success col-md-2 pull-right" ng-click="save()">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span>Save</span>
                </button>
                <button ng-if="!isNewComment" id="deleteComment" class="btn btn-danger col-md-2 pull-left" title="Delete Comment" ng-click="deleteComment()">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
