<div>
    <div class="modal-header" ng-show="editingLineItem" ng-bind="selectedType">
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5" ng-hide="editingLineItem">
                <select class="form-control col-md-4" ng-model='selectedType' ng-change="resetValues()" id="selectForm">
                    <option ng-repeat="formType in formTypes" value="{{formType}}">{{formType}}</option>
                </select>
            </div>
        </div>
        <br />        
        <div ng-show="displayMileageForm()">
            <div ng-include="'Views/Home/views/modals/mileageForm.html'"></div>
        </div>
        <div ng-show="displayPerDiemForm()">
            <div ng-include="'Views/Home/views/modals/perDiemForm.html'"></div>
        </div>
        <div ng-show="displayOtherForm()">
            <div ng-include="'Views/Home/views/modals/otherForm.html'"></div>
        </div>
        
        <div class="row" ng-show="editingLineItem">
            <form id="Form1">
                <div id="divComfirm" ng-show="divShow" class="col-md-12">
                    <span class="pull-right">Upload Complete</span>
                </div>
                <div id="divComfirm" ng-show="noReceipt" class="col-md-12">
                    <span class="pull-right">There is no receipt selected.</span>
                </div>
                <div class="col-md-12">
                    <span class="btn btn-primary btn-file">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        <span>Attach Reciept</span>
                        <input type="file" id="File1" name="File1" ng-click="checkFile()" ng-bind="checkValue" accept="image/*" image="image" />
                    </span>
                    <button type="button" disabled="disabled" name="upload" id="upload" value="Upload Reciept"
                            class="btn btn-success" ng-click="upload()">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Upload Reciept</span>
                    </button>
                </div>
            </form>
        </div>
        <br />

        <div class="row">
            <div class="col-md-4">
                <button ng-click="getPolicy()" id="policy" class="btn btn-info pull-left">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Policy
                </button>
            </div>
            <div id="SaveAndCancel">
                <div class="col-md-2 pull-right">
                    <button ng-click="cancel()" id="cancel" class="btn btn-warning pull-right">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                </div>
                <div ng-hide="editingLineItem" class="col-md-3 pull-right">
                    <div class="pull-right">
                        <button id="saveNew" ng-click="saveNew()" class="btn btn-success">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>Save</span>
                        </button>
                    </div>
                    <div class="pull-right"></div>
                </div>
            </div>
            <div ng-show="editingLineItem" class="col-md-3 pull-right">
                <div class="pull-right">
                    <button id="saveEdit" ng-click="saveEdit()" class="btn btn-success">
                        <i class="glyphicon glyphicon-save"></i>
                        <span>Save Edit</span>
                    </button>
                </div>
                <div class="pull-right"></div>
            </div>
        </div>
    </div>
</div>
