<div ng-controller="PerDiemCtrl">
    <form class="expense-form" id="per-diem-form">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.sunday" id="pdSunday" ng-click="calculateTotal()" />{{perDiemValues.daysString.sunday}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.monday" id="pdMonday" ng-click="calculateTotal()" />{{perDiemValues.daysString.monday}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.tuesday" id="pdTuesday" ng-click="calculateTotal()" />{{perDiemValues.daysString.tuesday}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.wednesday" id="pdWednesday" ng-click="calculateTotal()" />{{perDiemValues.daysString.wednesday}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.thursday" id="pdThursday" ng-click="calculateTotal()" />{{perDiemValues.daysString.thursday}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.friday" id="pdFriday" ng-click="calculateTotal()" />{{perDiemValues.daysString.friday}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="perDiemValues.days.saturday" id="pdSaturday" ng-click="calculateTotal()" />{{perDiemValues.daysString.saturday}}
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="sr-only" for="pdAmount">Total</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <div class="form-control disabled" id="pdAmount" ng-bind="(perDiemValues.amount).toFixed( 2 )" placeholder="0.00"></div>
                        <div class="input-group-addon">$30.00 Per Day</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="pdBillable" ng-model="perDiemValues.billable">Billable
            </label>
        </div>
    </form>
</div>
